.App {
  padding-top: 36px;
}

.home{
  text-align: center;
}


.SearchForm-wrapper {
  display: flex;
  justify-content: center;
}

.MoviesList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
}

.MovieList-item{
  margin-bottom: 24px;
  width: calc(33% - 16px);
}

.detail{
  display: flex;
  justify-content: center;
}

.detail h1{
  font-size: 40px;
}

.detalles{
  width: 30%;
  border: 1px solid #000;
  padding: 10px;
}
